{% extends "website/base.html" %}

{% block content %}
    <div class="homecontent">    
    <h1>About Us</h1>
    <img src="/static/img/5.JPG" alt="Building">
    <div class="contenttext">
   Garena is an online game developer and publisher headquartered in Singapore. It is the Digital Entertainment Business under the parent company Sea Limited, which was formerly called Garena. Garena distributes game titles on Garena+ in various countries across Southeast Asia and Taiwan. Wikipedia
Founder: Forrest Xiaodong Li
Founded: 8 May 2009, Singapore
Parent organization: Sea
Subsidiary: Phoenix Labs
    <ul> 
        <li>Memory Chips</li>
        <li>SATA HDD</li>
        <li>SATA SSD </li>
        <li>Broadband Modems</li>
        <li>Wifi Devices</li>
        <li>Switching Devices</li>
        <li>Optical Sensors</li>
    </ul> 
    </div>
    </div>
{% endblock  %}