{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>Our Crew</h1>
    <div class="crewmembers">
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/xavier.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">XAVIER</div>
            <div class="designation">C.E.O </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/alok.png" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">ALOK</div>
            <div class="designation">FRONTEND DEV</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/brahma.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">BRAHMANANDAM</div>
            <div class="designation">TECHNICAL TEAM</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/hritik.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">HRITIK ROSHAN</div>
            <div class="designation"> R & D HEAD </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/kelly.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">KELLY</div>
            <div class="designation"> DESIGN TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/li.png" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">FORREST XIAODONG LI</div>
            <div class="designation"> MARKETING HEAD </div>
        </div>
    </div>
    {% endblock  %}